version: '3'

services:
  jobmanager:
    build:
      context: .
      dockerfile: Dockerfile.jobmanager
    container_name: jobmanager
    command: jobmanager
    environment:
      FLINK_PROPERTIES: "jobmanager.rpc.address: jobmanager"
    network_mode: host
    deploy:
      replicas: 1
    volumes:
      - checkpoints-vol:/var/flink/checkpoints

  taskmanager:
    image: flink:latest
    container_name: taskmanager
    command: taskmanager
    environment:
      FLINK_PROPERTIES: "jobmanager.rpc.address: jobmanager"
    network_mode: host
    deploy:
      replicas: 1
    volumes:
      - checkpoints-vol:/var/flink/checkpoints
    depends_on:
      - jobmanager

volumes:
  checkpoints-vol:
